html {
    --primary: 352 90% 39%!important;
    --primary-foreground: 0 0% 98%!important;
    --secondary: 200 29% 29%!important;
    --secondary-foreground: 0 0% 9%!important;
    --accent: 219 63% 70%!important;
    --accent-foreground: 0 0% 9%!important;
}

.dark {
    --primary: 353 70% 60%!important;
    --primary-foreground: 0 0% 9%!important;
    --secondary: 0 0% 14.9%!important;
    --secondary-foreground: 0 0% 98%!important;
    --accent: 0 0% 14.9%!important;
    --accent-foreground: 0 0% 98%!important;
}